version:  "3.5"
networks:
  spoof_net:
    ipam:
      driver: default
      config:
        - subnet: "192.168.42.0/24"
services:
  server1:
    build: ./server1
    image: server1
    container_name: server1
    hostname: server1 #optional
    networks:
      spoof_net:
        ipv4_address : 192.168.42.2
    mac_address: 02:42:c0:a8:2a:02
    expose:
      - "2120-2130"
    ports:
      - "2120:20"
      - "2121:21"
      - "2122-2130:2122-2130"
    volumes:
      - ./ftp/:/home/ftp/:rw
      - ./logs/server1/:/var/log/vsftpd/:rw
    environment:
      - FTP_USER=admin
      - FTP_PASS=notneedhere
      - PASV_ADDRESS=**IPv4**
      - PASV_MIN_PORT=2122
      - PASV_MAX_PORT=2130

  victim:
    build: ./victim
    image: victim
    container_name: victim
    hostname: victim #optional
    networks:
      spoof_net:
        ipv4_address : 192.168.42.3
    mac_address: 02:42:c0:a8:2a:03
    stdin_open: true # docker run -i
    tty: true        # docker run -t
  
  attack:
    build: ./attack
    image: attack
    container_name: attack
    hostname: attack #
    networks:
      spoof_net:
        ipv4_address : 192.168.42.4
    mac_address: 02:42:c0:a8:2a:04
    depends_on:
     - victim
     - server1
    volumes:
      - ./attack:/lmcd
    stdin_open: true # docker run -i
    tty: true        # docker run -t
    entrypoint: [ "python", "./arpspoof.py", "-v", "-s", "192.168.42.2", "-r", "02:42:c0:a8:2a:02", "-t", "192.168.42.3", "-g", "02:42:c0:a8:2a:03"]
      
  server2:
    build: ./server2
    image: server2
    container_name: server2
    hostname: server2
    networks:
      spoof_net:
        ipv4_address : 192.168.42.5
    mac_address: 02:42:c0:a8:2a:05
    volumes:
      - ./ftp/:/home/ftp/:rw
      - ./logs/server2/:/var/log/vsftpd/:rw
    environment:
    - USERS="one|1234|/home/in"
    - ADDRESS=localhost
    ports:
    - 2221:21
    - 2220:20
    - "2222-2230:2222-2230"